<h1>Your Interests</h1>
<% if @interest %>
   <h3>Animal Preferences</h3>
   <h4>Cats: <%= @interest.cats %></h4>
   <h4>Dogs: <%= @interest.dogs %></h4>
  <%= button_to 'Edit Interests', edit_interest_path(@interest), method: :get, class: 'btn' %>
<% else %>
  <%= button_to 'Create Interests', new_interest_path(user_id: @user.id), method: :get, class: 'btn' %>
<% end %>
